.absolute {
  position: absolute
}

.right-5 {
  right: 1.25rem
}

.top-5 {
  top: 1.25rem
}

.z-10 {
  z-index: 10
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mb-5 {
  margin-bottom: 1.25rem
}

.ml-auto {
  margin-left: auto
}

.mt-10 {
  margin-top: 2.5rem
}

.mt-5 {
  margin-top: 1.25rem
}

.mt-1 {
  margin-top: 0.25rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mb-10 {
  margin-bottom: 2.5rem
}

.mb-4 {
  margin-bottom: 1rem
}

.mt-4 {
  margin-top: 1rem
}

.h-64 {
  height: 16rem
}

.w-full {
  width: 100%
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.rounded-lg {
  border-radius: 0.5rem
}

.border-b {
  border-bottom-width: 1px
}

.border-\[\#59C1CC\] {
  --tw-border-opacity: 1;
  border-color: rgb(89 193 204 / var(--tw-border-opacity))
}

.bg-\[\#59C1CC\] {
  --tw-bg-opacity: 1;
  background-color: rgb(89 193 204 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.p-5 {
  padding: 1.25rem
}

.p-0 {
  padding: 0px
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem
}

.pt-16 {
  padding-top: 4rem
}

.pt-5 {
  padding-top: 1.25rem
}

.pb-0 {
  padding-bottom: 0px
}

.text-center {
  text-align: center
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.font-bold {
  font-weight: 700
}

.uppercase {
  text-transform: uppercase
}

.italic {
  font-style: italic
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.text-\[\#59C1CC\] {
  --tw-text-opacity: 1;
  color: rgb(89 193 204 / var(--tw-text-opacity))
}

.text-red-700 {
  --tw-text-opacity: 1;
  color: rgb(185 28 28 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}
